<h2>Here are your team's tasks: </h2>

  <% @projects.all.each do |project| %>
    <div class="container">

    <h2><%= link_to "#{project.name}", project_path(project)%></h2>

    <% tasks = project.tasks %>

      <%= render partial: 'tasks/tasklist', :locals => {:@tasks => tasks}%>
    </div>
  <% end  %>

<%= link_to "Create a new project", 'projects/new', class: "btn btn-sm btn-primary" %>    

<%= link_to "Create new task", 'tasks/new', class: "btn btn-sm btn-info btn-primary" %> 

